/* === Home.css === */

.home-page {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
}

.home-page h1 {
  font-size: 2.2rem;
  color: #242424;
}

.home-page p {
  color: #555;
  width: 100%;
  margin: 0.5rem auto 2rem auto;
  font-size: 1.1rem;
}
